{% extends "base.html" %}

{% block content %}
    <ol class="breadcrumb">
		<li><a href="{% url 'index'%}">Home</a></li>
		<li class="active"><strong>Cadastro categoria de item</strong></li>
	</ol>

    {% if form.instance.id %}
        <form method="post" class="form-horizontal" action="{% url 'category-save' form.instance.id %}">
    {% else %}
        <form method="post" class="form-horizontal" action="{% url 'category-save' %}">
    {% endif %}
        {% csrf_token %}
        <div class="form-group {% if form.name.errors %}has-error{% endif %}">
            <label class="control-label">Nome</label>

	        <div>
                {{ form.name}}
                <span class="help-block">
                    {% if form.name.errors %}
                        {{ form.name.errors.as_text }}
                    {% endif %}

		        </span>

	        </div>
        </div>

        {% if form.instance.id %}
            <div class="form-group">
            <label class="control-label">Ativo</label>

	        <div>
                {{ form.active}}

	        </div>
        </div>
        {% endif %}

        <div class="form-group">
            <div class="col-md-4 col-md-offset-4">
                <button type="submit" class="btn btn-primary pull-right" name="salvar"><span class="glyphicon glyphicon-floppy-disk"></span> Salvar</button>
            </div>
        </div>
    </form>

{% endblock %}